@import 'variables';
@import 'jobs';

div.job-posting.full {
  .content {
    width: 87%;
    margin: 0 auto;
    .header {
      height: 50px;
      border-bottom: 1px solid $light-gray;
      div {
        text-align:center;
        float:left;
        height: 100%;
        line-height: 38px;
        border-right: 1px solid $light-gray;
        height: 38px;
        margin-top: 6px;
      }
      div.left {
        width: 35%;
      }
      div.center {
        width: 30%;
      }
      div.right {
        width: 34%;
        border:none;
      }
    }
    .body {
      margin: 6px auto;
    }
    .footer {
      text-align: center;
      height: 50px;
      border-top: 1px solid $light-gray;
      button {
        height: 38px;
        margin-top: 6px;
        font-size: 13px;

        img {
          height: 15px;
          position: relative;
          top: 2px;
          margin-right: 5px;
        }
      }
    }
  }
}
