@import 'variables';

div.search-container {
  height: 40px;
  width: 45em;
  margin: 0 auto;
  margin-top: 30px;
  div {

    float: left;
  }

  div.search-left {
    width: 6%;
    height: 100%;
    text-align: center;

    img {
      position: relative;
      height: 16px;
      top: 12px;
    }
  }
      font-size: 13px;

  div.search-center {
    width: 75%;
    border-right: 1px solid $light-gray;

    input#search-field {
      box-shadow:none;
      outline: none;
      border: none;
      font-size: inherit;
      line-height: 36px;
      width: 99%;
    }
  }

  div.search-right {
    width: 16%;
    padding: 0 1%;

    select {
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance: none;

      background: transparent url("/arrows.png") no-repeat right;
      background-size: auto 30%;

      border: none;
      color: $dark-gray;
      cursor: pointer;
      outline: none;
      font-size: inherit;
      height: 100%;
      line-height: 40px;
      width: 100%;
    }

  }
}

@media only screen and (max-device-width: 480px) {
  div.search-container  {
    width: 100%;

    div.search-right {
      width: 70%;
    }
  }
}
