$background-color: rgba(239,94,65,.04);

$splash: #EF5E41;

$dark-splash: #A43E29;

$green: #5BB65B;

// The border of cards, most often
$light-gray: #CBCBCB;

// Most grays that you see, fonts & horizontal rules
$dark-gray: #CCCCCC;

$shadow-gray: rgba(0,0,0,.5);
