<div class='card search-container'>
  <div class='search-left'>
    <img src='search.png' alt='Q'>
  </div>
  <div class='search-center'>
    {{input value=search
            id='search-field'
            key-up="searchChanged"
            placeholder='Search jobs, companies or locations'}}
  </div>
  <div class='search-right'>
    {{#x-select value=type action="typeChanged" class="job-type"}}
      {{#each types as |type|}}
        {{#x-option value=type}}
          {{type}}
        {{/x-option}}
      {{/each}}
    {{/x-select}}
  </div>
</div>
