<div class='master'>
  {{#each model as |job|}}
    <div class='job-list-item'>
      {{#link-to 'admin.job' job}}
        {{job.title}}
      {{/link-to}}
      at {{job.company.name}} | {{job.location}}
    </div>
  {{/each}}
</div>
<div class='detail'>
  {{outlet}}
</div>
