<div class="master">
  {{#each}}
  <div class="job-list-item">
    {{#link-to 'admin.job' this}}
    {{title}}
    {{/link-to}}
    at {{company.name}} | {{location}}
  </div>
  {{/each}}
</div>
<div class="detail">
  {{outlet}}
</div>
