<footer>
<p>
Ember Jobs is an experiment. Be patient with us while we get it up, running, and smoothly operating <3      -     <a href="#" /> Privacy Policy </a>     -      <a href="#"> Terms & Conditions </a>
</p>
</footer>
