<div id="header">
<div class='nav'>

  <div class='nav-left'>
    <a href='/'> <img id='logo' src='/ember_logo.png' alt='ember'> </a>
  </div>

  <div class='nav-center'>
    <h1> JOB BOARD </h1>
  </div>

  <div class='nav-right'>
    <div>
      <a href="#" {{action 'postJob'}}>Post Jobs</a>
    </div>
  </div>

</div>
  {{#if isAdmin}}
    {{#link-to 'admin.index'}}
      Admin
    {{/link-to}}
  {{/if}}
</div>
