<div class='nav'>

  <div class='nav-left'>
    {{#link-to 'index'}} <img id='logo' src='/ember_logo.png' alt='ember'> {{/link-to}}
  </div>

  <div class='nav-center'>
    <h1> JOB BOARD </h1>
  </div>

  <div class='nav-right'>
      <a href="#" {{action 'postJob'}}>Post Jobs</a>
  {{#if isAdmin}}
    {{#link-to 'admin.index'}}
      Admin
    {{/link-to}}
  {{/if}}
  </div>

</div>
