<h1 id='title'> Most Recent Postings </h1>
<job-search search={{search}}
            types={{types}}
            value={{type}} />

<job-list jobs={{filtered}} />
<job-ad postJob='postJob' class='card ad' />
