{{#each}}
  <div class="card job-posting small">
    <div class="name-and-company">
        {{#link-to 'job' this}}
            {{title}}
        {{/link-to}}
        at {{company.name}}
      </div>
    <div class="location">
      <img class='location-icon' src='location.png' alt='V' />  {{location}}
    </div>
    <div class="posted-at">
          Posted:  {{ postedAt }}
    </div>
    <div class="arrow">
      {{#link-to 'job' this}} <img  class='arrow-icon icon' src='arrow-right.png' alt="->" /> {{/link-to}}
    </div>
  </div>
{{/each}}
