{{#each job in model}}
  <div class='card job-posting small'>
    <div class='name-and-company'>
      {{#link-to 'job' job}}
          {{job.title}}
      {{/link-to}}
      at {{job.company.name}}
    </div>
    <div class='location'>
      {{job.location}}
    </div>
    <div class='posted-at'>
      Posted:  {{ job.postedAt }}
    </div>
    <div class='arrow'>
      {{#link-to 'job' job}}
        <span class='arrow-icon'></span>
      {{/link-to}}
    </div>
  </div>
{{/each}}
